# Project
/build
/data
/lib

# AutoCad
*.bak

# Proteus
src/schematic/*.DO
src/schematic/*.EDF
src/schematic/*.log
src/schematic/*.pdsbak
src/schematic/*.rte
src/schematic/*.sts
src/schematic/*.workspace

# Environment
.pio
.vscode